{% extends 'ex01/base.html' %} {% block title %}
<title>Ex01: Display process of a static page.</title>
{% endblock title %} {% block content %}
<div class="content">
  <table style="width: 90%">
    <tbody>
      <tr>
        <th>Static Web Page</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>
          Send a request for a static webpage
        </td>
      </tr>
      <tr>
        <td>2.</td>
        <td>
            Send request to a web server.
        </td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Search for a static webpage requested</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>
          Retrieve the static webpage
        </td>
      </tr>
      <tr>
        <td>5.</td>
        <td>
          Send back the static page
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}