{% extends 'ex01/base.html' %} {% block title %}
<title>Ex01: Django, framework web.</title>
{% endblock title %} {% block content %}
<div role="main" class="content">
  <h1>Django</h1>
  <p>
    Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django) is a Python-based web framework,
    free and open-source, that follows the model–template–views (MTV) architectural pattern.
    It is maintained by the
    Django Software Foundation (DSF), an independent organization established in the US as a 501(c)(3) non-profit.
  </p>

  <h2>History</h2>
  <p>
    Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper,
    Adrian Holovaty and Simon Willison, began using Python to build applications.
    Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.
    It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.
    Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.[citation needed]
    In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain
    Django in the future.
  </p>

</div>
{% endblock %}